.btn {
  /* padding: 10px 70px; */
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #171a20;
  color: white;
  opacity: 0.75;
  margin: 10px 20px;
  min-width: 264px;
  min-height: 40px;
}
