* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-family: "Radio Canada", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  z-index: 100;
}

.tesla-model-content {
  padding-top: 15vh;
}

.tesla-model-content h1 {
  font-size: 40px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
